################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVVM/v16
/MVVM.Core/bin
/MVVM.Core/obj
/MVVM.Core.Test/bin
/MVVM.Core.Test/obj
/MVVM.Model/bin
/MVVM.Model/obj
/MVVM.Model.Shared/bin
/MVVM.Model.Shared/obj
/MVVM.View/bin
/MVVM.View/obj
/MVVM.ViewModel/bin
/MVVM.ViewModel/obj
